In [1]:
import numpy as np
import pandas as pd

In [5]:
df1 = pd.read_csv(r'C:/Users/Armit/Python/Scripts/Project/games_list_categories.csv', sep = '\t', encoding='utf-8')

In [11]:
df2 = pd.read_csv(r'C:/Users/Armit/Python/Scripts/Project/games_list_categories200_600.csv', sep = '\t', encoding='utf-8')

In [12]:
df3 = pd.read_csv(r'C:/Users/Armit/Python/Scripts/Project/games_list_categories600_1000.csv', sep = '\t', encoding='utf-8')

In [13]:
df4 = pd.read_csv(r'C:/Users/Armit/Python/Scripts/Project/games_list_categories1000_1400_.csv', sep = '\t', encoding='utf-8')

In [14]:
df5 = pd.read_csv(r'C:/Users/Armit/Python/Scripts/Project/games_list_categories1000_1460_.csv', sep = '\t', encoding='utf-8')

In [34]:
df6 = pd.read_csv(r'C:/Users/Armit/Python/Scripts/Project/games_list_categories1460_1590_.csv', sep = '\t', encoding='utf-8')

In [16]:
df7= pd.read_csv(r'C:/Users/Armit/Python/Scripts/Project/games_list_categories1590_2152_.csv', sep = '\t', encoding='utf-8')

In [17]:
df8 = pd.read_csv(r'C:/Users/Armit/Python/Scripts/Project/games_list_categories2152_2695_.csv', sep = '\t', encoding='utf-8')

In [134]:
df9 = pd.read_csv(r'C:/Users/Armit/Python/Scripts/Project/games_list_categories_additional.csv', sep = '\t', encoding='utf-8')

In [135]:
df9 = df9.set_index('index')

In [20]:
df1 = df1[0:200]

In [71]:
df2= df2[200:600]

In [ ]:
# missed 600

In [73]:
df3 = df3[600:1000]

In [ ]:
#df4 = df4[1000:1400]

In [66]:
df5 = df5[1000:1460]

In [32]:
df6 = df6[1460:1590]

In [68]:
len(df1)

200

In [72]:
len(df2)

400

In [ ]:
df3 = df3[1460:1590]

In [74]:
len(df3)

400

In [67]:
len(df5)

460

In [36]:
len(df6)

174

In [64]:
len(df7)

562

In [63]:
len(df8)

543

In [ ]:
df7 = df7[600:1000]

In [103]:
df9 = df9.drop(['index'], axis = 1)

In [136]:
df9 = df9[['name', 'id', 'url', 'full_url', 'overview_url','categories']]

In [137]:
df9

,name,id,url,full_url,overview_url,categories
index,,,,,,
600,Star Trek: Fleet Captains,79127,/boardgame/79127/star-trek-fleet-captains,https://boardgamegeek.com/boardgame/79127/star...,https://boardgamegeek.com/boardgame/79127/star...,"['Fighting', 'Miniatures', 'Movies / TV / Radi..."
1299,Cubitos,298069,/boardgame/298069/cubitos,https://boardgamegeek.com/boardgame/298069/cub...,https://boardgamegeek.com/boardgame/298069/cub...,"['Dice', 'Racing']"
1305,Cubitos,298069,/boardgame/298069/cubitos,https://boardgamegeek.com/boardgame/298069/cub...,https://boardgamegeek.com/boardgame/298069/cub...,"['Dice', 'Racing']"
1416,Project: ELITE,171726,/boardgame/171726/project-elite,https://boardgamegeek.com/boardgame/171726/pro...,https://boardgamegeek.com/boardgame/171726/pro...,"['Fighting', 'Miniatures', 'Real-time', 'Scien..."
1417,Babel,986,/boardgame/986/babel,https://boardgamegeek.com/boardgame/986/babel/...,https://boardgamegeek.com/boardgame/986/babel,"['Ancient', 'Card Game', 'City Building']"
...,...,...,...,...,...,...
2147,Viva Topo!,8195,/boardgame/8195/viva-topo,https://boardgamegeek.com/boardgame/8195/viva-...,https://boardgamegeek.com/boardgame/8195/viva-...,"['Animals', ""Children's Game"", 'Dice']"
2148,GoodCritters,255615,/boardgame/255615/goodcritters,https://boardgamegeek.com/boardgame/255615/goo...,https://boardgamegeek.com/boardgame/255615/goo...,"['Animals', 'Bluffing', 'Negotiation', 'Party ..."
2149,Limes,153623,/boardgame/153623/limes,https://boardgamegeek.com/boardgame/153623/lim...,https://boardgamegeek.com/boardgame/153623/limes,"['Card Game', 'City Building', 'Puzzle']"
2150,Space Explorers,235817,/boardgame/235817/space-explorers,https://boardgamegeek.com/boardgame/235817/spa...,https://boardgamegeek.com/boardgame/235817/spa...,"['Card Game', 'Economic', 'Space Exploration']"
2151,Koryŏ,140535,/boardgame/140535/kory,https://boardgamegeek.com/boardgame/140535/kor...,https://boardgamegeek.com/boardgame/140535/kory,['Card Game']

In [154]:
frames = [df1, df2, df3, df5, df6, df7, df8,df9]

result = pd.concat(frames)

In [155]:
result = result.drop(['url','full_url','overview_url'], axis = 1)

In [162]:
result[result['id'] ==255615]

              name      id                                         categories
2148  GoodCritters  255615  ['Animals', 'Bluffing', 'Negotiation', 'Party ...

In [151]:
result[result.duplicated() == True]

,name,id,categories
1305,Cubitos,298069,"['Dice', 'Racing']"
0,Project: ELITE,171726,"['Fighting', 'Miniatures', 'Real-time', 'Scien..."
1,Babel,986,"['Ancient', 'Card Game', 'City Building']"
2,Historia,157096,['Civilization']
3,Hare & Tortoise,361,"['Animals', 'Racing']"
...,...,...,...
1457,Axis & Allies,98,"['Economic', 'Wargame', 'World War II']"
1458,Founding Fathers,37358,['Political']
1459,Gingerbread House,258444,"['Fantasy', 'Humor', 'Mythology', 'Novel-based..."
2097,Dual Powers: Revolution 1917,241987,"['Deduction', 'Political']"
2100,Dual Powers: Revolution 1917,241987,"['Deduction', 'Political']"

In [157]:
result.drop_duplicates(inplace=True)

In [159]:
result.drop_duplicates('id', keep='last', inplace=True)

In [163]:
games_list = pd.read_csv(r'C:/Users/Armit/Python/Scripts/Project/games_100_pages.csv', sep = '\t', encoding='utf-8')

In [164]:
df = pd.merge(games_list,result[['id','categories']],on='id', how='left')

In [165]:
df = df[0:2695]

In [166]:
df[df['categories'].isna()]

,Unnamed: 0,name,id,url,full_url,categories
734,734,Pandemic: Rising Tide,234671,/boardgame/234671/pandemic-rising-tide,https://boardgamegeek.com/boardgame/234671/pan...,NaN
738,738,Hawaii,106217,/boardgame/106217/hawaii,https://boardgamegeek.com/boardgame/106217/haw...,NaN
754,754,Lanterns: The Harvest Festival,160851,/boardgame/160851/lanterns-harvest-festival,https://boardgamegeek.com/boardgame/160851/lan...,NaN
995,995,Reavers of Midgard,242684,/boardgame/242684/reavers-midgard,https://boardgamegeek.com/boardgame/242684/rea...,NaN
1074,1074,Royals,165986,/boardgame/165986/royals,https://boardgamegeek.com/boardgame/165986/roy...,NaN
1409,1409,Expedition to Newdale,272682,/boardgame/272682/expedition-newdale,https://boardgamegeek.com/boardgame/272682/exp...,NaN
1426,1426,Mangrovia,165948,/boardgame/165948/mangrovia,https://boardgamegeek.com/boardgame/165948/man...,NaN
1713,1713,Keltis,34585,/boardgame/34585/keltis,https://boardgamegeek.com/boardgame/34585/kelt...,NaN
1735,1735,Jórvík,193739,/boardgame/193739/jorvik,https://boardgamegeek.com/boardgame/193739/jor...,NaN
1739,1739,Machi Koro Legacy,259081,/boardgame/259081/machi-koro-legacy,https://boardgamegeek.com/boardgame/259081/mac...,NaN
1892,1892,Piece o' Cake,37371,/boardgame/37371/piece-o-cake,https://boardgamegeek.com/boardgame/37371/piec...,NaN
1970,1970,Kingdomino Duel,281960,/boardgame/281960/kingdomino-duel,https://boardgamegeek.com/boardgame/281960/kin...,NaN
2257,2257,Victorian Masterminds,189453,/boardgame/189453/victorian-masterminds,https://boardgamegeek.com/boardgame/189453/vic...,NaN
2492,2492,Adventure Games: Monochrome Inc.,267814,/boardgame/267814/adventure-games-monochrome-inc,https://boardgamegeek.com/boardgame/267814/adv...,NaN
2493,2493,Rival Restaurants,262114,/boardgame/262114/rival-restaurants,https://boardgamegeek.com/boardgame/262114/riv...,NaN
2665,2665,The Great Dinosaur Rush,179071,/boardgame/179071/great-dinosaur-rush,https://boardgamegeek.com/boardgame/179071/gre...,NaN

In [167]:
df[df['id'] == 234671]

,Unnamed: 0,name,id,url,full_url,categories
734,734,Pandemic: Rising Tide,234671,/boardgame/234671/pandemic-rising-tide,https://boardgamegeek.com/boardgame/234671/pan...,NaN

In [169]:
df[df['categories'].isna()]['full_url'][1970]

'https://boardgamegeek.com/boardgame/281960/kingdomino-duel/ratings'

In [170]:
df = df.drop('Unnamed: 0', axis=1)

In [171]:
df.to_csv(r'./df_categories_.csv', sep='\t', encoding='utf-8', header='true',index=False)

In [179]:
df.head(3)

,name,id,url,full_url,categories
0,Gloomhaven,174430,/boardgame/174430/gloomhaven,https://boardgamegeek.com/boardgame/174430/glo...,"['Adventure', 'Exploration', 'Fantasy', 'Fight..."
1,Pandemic Legacy: Season 1,161936,/boardgame/161936/pandemic-legacy-season-1,https://boardgamegeek.com/boardgame/161936/pan...,"['Environmental', 'Medical']"
2,Brass: Birmingham,224517,/boardgame/224517/brass-birmingham,https://boardgamegeek.com/boardgame/224517/bra...,"['Economic', 'Industry / Manufacturing', 'Trai..."

In [172]:
df_cattegories = pd.read_csv(r'C:/Users/Armit/Python/Scripts/Project/df_categories_.csv', sep = '\t', encoding='utf-8')

In [174]:
len(df_cattegories)

2695

In [175]:
df_pages = pd.read_csv(r'C:/Users/Armit/Python/Scripts/Project/games_list_rating_1000.csv', sep = '\t', encoding='utf-8')

In [177]:
df_pages2 = pd.read_csv(r'C:/Users/Armit/Python/Scripts/Project/games_list_rating_1000_2000.csv', sep = '\t', encoding='utf-8')

In [178]:
df_pages3 = pd.read_csv(r'C:/Users/Armit/Python/Scripts/Project/games_list_rating_2000_3000.csv', sep = '\t', encoding='utf-8')

In [180]:
frames = [df_pages, df_pages2, df_pages3]

result_pages = pd.concat(frames)

In [185]:
result_pages.head(3)

       id  pages
0  174430    900
1  161936    873
2  224517    430

In [184]:
result_pages = result_pages.drop(['name','full_url','url'], axis = 1)

In [186]:
df_final = pd.merge(df_cattegories,result_pages[['id','pages']],on='id', how='left')

In [189]:
df_final.to_csv(r'./games_final.csv', sep='\t', encoding='utf-8', header='true',index=False)

In [191]:
len(df_final)

2699

### Full Time to scrape 2500+ games

In [193]:
df_final['full_time'] = df_final['pages'] * 13

In [195]:
df_final['full_time_minutes'] = df_final['full_time']/60

In [200]:
print('days to scrape ratings of 2699 games: ', sum(df_final['full_time_minutes'])/60/24)

days to scrape ratings of 2699 games:  43.58881944444439

# Time to scrape with smarter approach

Scrape approaches:
1. If we take 200 recent pages from each game 

2. If we take 50 recent pages from each game (convinient)

3. If we take 50 random  pages from each game

In [208]:
df_final.sort_values(by = 'pages',ascending = True).head(5)

,name,id,url,full_url,categories,pages,full_time,full_time_minutes
2338,Take 5!,153,/boardgame/153/take-5,https://boardgamegeek.com/boardgame/153/take-5...,['Card Game'],0,0,0.000000
1709,Seikatsu,216428,/boardgame/216428/seikatsu,https://boardgamegeek.com/boardgame/216428/sei...,"['Abstract Strategy', 'Animals', 'Puzzle']",0,0,0.000000
2570,Unmatched Game System,295564,/boardgame/295564/unmatched-game-system,https://boardgamegeek.com/boardgame/295564/unm...,"['Fighting', 'Miniatures']",7,91,1.516667
2557,1880: China,69601,/boardgame/69601/1880-china,https://boardgamegeek.com/boardgame/69601/1880...,"['Economic', 'Trains']",8,104,1.733333
2631,Sherlock Holmes Consulting Detective: The Bake...,296345,/boardgame/296345/sherlock-holmes-consulting-d...,https://boardgamegeek.com/boardgame/296345/she...,"['Deduction', 'Murder/Mystery', 'Novel-based']",8,104,1.733333

In [225]:
df_final.head(10)

,name,id,url,full_url,categories,pages,full_time,full_time_minutes
0,Gloomhaven,174430,/boardgame/174430/gloomhaven,https://boardgamegeek.com/boardgame/174430/glo...,"['Adventure', 'Exploration', 'Fantasy', 'Fight...",900,11700,195.000000
1,Pandemic Legacy: Season 1,161936,/boardgame/161936/pandemic-legacy-season-1,https://boardgamegeek.com/boardgame/161936/pan...,"['Environmental', 'Medical']",873,11349,189.150000
2,Brass: Birmingham,224517,/boardgame/224517/brass-birmingham,https://boardgamegeek.com/boardgame/224517/bra...,"['Economic', 'Industry / Manufacturing', 'Trai...",430,5590,93.166667
3,Terraforming Mars,167791,/boardgame/167791/terraforming-mars,https://boardgamegeek.com/boardgame/167791/ter...,"['Economic', 'Environmental', 'Industry / Manu...",1372,17836,297.266667
4,Twilight Imperium: Fourth Edition,233078,/boardgame/233078/twilight-imperium-fourth-edi...,https://boardgamegeek.com/boardgame/233078/twi...,"['Civilization', 'Economic', 'Exploration', 'N...",289,3757,62.616667
5,Gloomhaven: Jaws of the Lion,291457,/boardgame/291457/gloomhaven-jaws-lion,https://boardgamegeek.com/boardgame/291457/glo...,"['Adventure', 'Exploration', 'Fantasy', 'Fight...",212,2756,45.933333
6,Through the Ages: A New Story of Civilization,182028,/boardgame/182028/through-ages-new-story-civil...,https://boardgamegeek.com/boardgame/182028/thr...,"['Card Game', 'Civilization', 'Economic']",489,6357,105.950000
7,Gaia Project,220308,/boardgame/220308/gaia-project,https://boardgamegeek.com/boardgame/220308/gai...,"['Economic', 'Science Fiction', 'Space Explora...",351,4563,76.050000
8,Star Wars: Rebellion,187645,/boardgame/187645/star-wars-rebellion,https://boardgamegeek.com/boardgame/187645/sta...,"['Civil War', 'Fighting', 'Miniatures', 'Movie...",489,6357,105.950000
9,Twilight Struggle,12333,/boardgame/12333/twilight-struggle,https://boardgamegeek.com/boardgame/12333/twil...,"['Modern Warfare', 'Political', 'Wargame']",885,11505,191.750000

In [214]:
len(df_final[df_final['pages'] > 199])

338

In [228]:
print('number of feedback: ', 200*338*50)

number of feedback:  3380000

In [220]:
print('days to scrape 200 pages of 338 games:',200*13*338/60/60/60)

days to scrape 200 pages of 338 games: 4.068518518518519

In [215]:
len(df_final[df_final['pages'] > 100])

702

In [223]:
print('days to scrape 50 pages of 1307 games:',100*13*702/60/60/60)

days to scrape 50 pages of 1307 games: 4.225

In [213]:
len(df_final[df_final['pages'] > 50])

1307

In [221]:
print('days to scrape 50 pages of 1307 games:',50*13*1307/60/60/60)

days to scrape 50 pages of 1307 games: 3.933101851851852